body{
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 0.5px;
}
.overlay{
  width: 100%;
  height:100%;
  position:absolute;
  z-index:3;
  background-color: rgba(0, 0, 0, 0.3)
}
.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/icons/previous.png);
}
.slides-navigation a.next { 
  right: 20px;
  background-image: url(../img/icons/next.png);
}
.slides-navigation{
  z-index:6;
}
.titleMessage{
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index:4;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p{
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
  font-weight: 100;
  letter-spacing: 7px;
}
.titleMessage .heading .main{
  font-size: 50px;
}
.titleMessage .heading .sub{
  font-size: 23px;
}
.section{
  padding:100px 0 100px 0; /*top right bottom left*/
}
.aboutImage{
  max-width: 100%;
}
.skillsSection,
.contactSection{
  background-color: #c0392b;
  color: #fff;
  margin-left: 10px;
}
.skill {
  text-align: center;
}
.chart{
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  /*margin-left: 25px;*/
  text-align: center;
}
.chart canvas {
  position: absolute;
  left:0;
  top:0;
}
.chart .percent {
  color: #000;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}
.chart .percent:after {
  content:'%';
}

.squareItem {
	margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}


.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #e74c3c;
}

.squareContent h3 {
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}


.squareIcon{
  position: absolute;
  left:50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #444;
}

.contactButtom{
  color:#fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #fff;
  border-radius:2px;
}

.contactButtom:hover{
  text-decoration:none;
  color: #e74c3c;
  background-color: #fff;
}

.bottomSection{
  background-color: #000;
  color: #fff;
  padding: 30px 5px;
}

.bottomSection p{
  margin:0;
}

#navigation {
  left: 0px;
  height: 40px;
  background-color:#fff;
  padding:10px 10px;
  z-index:100000;
  width: 100%;
}

#navigation li{
  padding: 0 10px;
}

#navigation li a{
  color: #b20404;
  background-color:#fff;
}

.navbar-brand,
.navbar-brand:hover{
  color:#b20404;
  background-color:#fff;
}
.navbar-toggler-icon {
	background:url(../img/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation{
  position: fixed;
  top: 0;
}




.loader{
  width:100%;
  height:100%;
  background-color:#fff;
  position:fixed;
  top: 0px;
  left: 0px;
  z-index:1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background:url(../img/icons/me_2023_tiny.gif) center center no-repeat;
}
#map { height: 180px; }

a:link {
  color:#b20404;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #b20404;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: #b20404;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #b20404;
  background-color: transparent;
  text-decoration: underline;
}

.filter a {
	color: #bdc3c7;
	border: 1px solid #bdc3c7;
	padding: 10px 18px;
	display: block;
}

.filter li {
	display: inline-block;
	padding: 5px
}

.filter .current {
	background-color: #b20404;;
	border-color: #b20404;
	color: #fff;
}

.filter {
	text-align: center;
	width: 100%;
}

.items li{
  display: inline-block;
  padding: 5px;
}

.itemsContainer{
  width:100%;
}

.items li img{
  width:100%;
}

.items .item{
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons{
  position: absolute;
  width: 90px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px auto 0 -47px;
  text-align: center;
  z-index: 3;
}

.items .icons i{
  font-size: 20px;
  margin-top: 9px;
  color:#fff;
}

.items a {
	width: 40px;
    height: 40px;
    background-color: #b20404;
    position: relative;
    display: inline-block;
}



.items .imageOverlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

